#header {

}

#header .metadataHeader {
    display: inline-block;
    font-size:120%;
    white-space: nowrap;
    color:#e4e4e4;
    padding-top:5px;
    line-height:50px;
    margin-left:10px;
    font-weight: normal;
    text-transform: uppercase;
}


#header .banner {
    background:#000000;
    color: #ffffff;
    height:60px;
    padding-right:20px;
    padding-left:20px;
}

#header .logo {
    padding-left:10px;
}









