.lcs_slide_out header a {
    font-weight: bold;
    font-size:16px;    
}
.lcs_slide_out header a:focus, .lcs_slide_out header a:hover {
    font-weight:800;
    padding:10px;
    outline: 6px solid #4E84C4;
}
