#aeon {
    text-align: left;
    background: #F3F3F3;
}

#aeon div.badgeIcon {
    width:30px;
    height:30px;
    border-radius:15px;
    font-size:14pt;
    line-height:30px;
    background:#ffffff;
    color:#666666;
    display:inline-block;
    text-align: center;
}

#aeon .banner {
    background:#000000;
    color: #ffffff;
    height:60px;
    padding-right:20px;
    padding-left:20px;
}

#aeon .logo {
    padding-left:10px;
}

#aeon .box {
    padding-left:20px;
    padding-right:20px;
    background:#F3F3F3;
    text-align: left;
}

#aeon .title {
    font-size:16pt;
    font-weight: 600;
    padding-bottom:10px;
}

#aeon h1 {
    color:#666666;
    font-weight: bold;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
}



#aeon .loading {
    text-align: center;
}

#aeon .space {
    margin-bottom:10px;
}

#aeon .bold-text {
    font-weight: bolder;
}

#aeon .select-one {
    font-weight: bold;
    margin-bottom:10px;
    margin-top:20px;
}

#aeon .divider {
    margin-top:10px;
    margin-bottom:10px;
    color: #cccccc;
}

#aeon .row {
    display: flex;
}

#aeon .col1 {
    flex: 5%;
    text-align: left;
}

#aeon .col2 {
    flex: 95%;
    text-align: left;
}

#aeon .gridBox {
    background:#ffffff;
    padding-left:10px;
    padding-right:10px;
    padding-top:25px;
    padding-bottom:20px;
    width:400px;
}

#aeon .gridRow {
    background:#F3F3F3;
    padding:10px;
    margin-bottom:5px;
    margin-left:15px;
    margin-right:15px;
    cursor: pointer;
    text-align: left;
}

#aeon .gridRow:hover {
    background:#86adcc;
    color:#ffffff;
}

#aeon .gridRow:focus {
    background:#86adcc;
    color:#ffffff;
}

#aeon .errorBox {
    padding-left:5px;
    padding-right:10px;
    padding-bottom:40px;
    padding-top:20px;
    font-weight: bold;
}

#aeon .space20 {
    margin-bottom:20px;
}


#iframe {
    width:100%;
    height:90vh;
}

.scanList {list-style: none; margin-left:-45px;}

.scanList > li { display: inline-block; text-align: left; cursor: pointer; display: -moz-inline-stack;
    margin-bottom:5px; margin-right:10px; width: auto; vertical-align: top; padding:0px;}


.scanImageBox {
    height:375px;
    display: table-cell;
    padding:0px;
    margin-left:auto;
    margin-right: auto ;
    z-index:0;
    text-align: center;
}

.scanImageBox > img {
    margin-left:auto !important;
    margin-right: auto !important;
    display: block !important;
}

.scan-image-card {
    padding-top: 0px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    background: transparent !important;
    width:auto;
    height:430px;
    z-index:0 !important;
}



.scanImageCaption {
    line-height:30px;
    font-size:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    margin-top:5px;
    margin-bottom:10px;
    text-align: center;
    cursor:default;
    text-align: center;
}

@media print {
    .scanList {list-style: none; margin-left:-45px;}
    .scanList > li { display: table-cell; text-align: left; cursor: pointer; display: -moz-inline-stack;
        margin-bottom:5px; margin-right:10px; width: auto; vertical-align: top; padding:0px;}
}


#textsms {
   padding:5px;
   cursor: pointer;
   z-index:10;
   color:#5F5F5F;
   font-weight: 300;
}


#textsms .row {
    text-align: center;
    cursor: pointer;
}

#textsms .button-text {
    font-size:10px;
    line-height:14px;
    font-weight:600;
    cursor: pointer;
}

#textsms:hover {
    color:#5F5F5F;
}


#textsms .row:hover {
    background:#e1e1e1;
    color:#5F5F5F;
}

.pointer {
    cursor: pointer;
}

#textsms svg  {
    fill:#5F5F5F;
}

#textsms .textsms-info {
    font-weight: bold;
}



#componentMetadata {
    padding:15px;
    background: #ffffff;
    color:#000000;
}

.metadataHeader {
    display: inline-block;
    font-size:120%;
    white-space: nowrap;
    color:#e4e4e4;
    line-height:50px;
    margin-left:70px;
    font-weight: normal;
    text-transform: uppercase;
}

.hv-toggle {
    text-align: right;
}

.hv-toggle > button {
    margin-bottom:10px !important;
    margin-top:0px !important;
}

.whiteBg {
    background:#ffffff;
}

.text-center {
    text-align: center;
}

.bigPadding {
    padding:30px;
}

.iframeClass {
    width:800px;
    height:650px;
    border: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.imageNav {
    margin-top: 20px;
    margin-bottom: 0px;
}

.spaceTop {
    margin-top:10px !important;
}

hr {padding:0px; margin:0px;}

.spaceBottom {
    margin-bottom:10px;
}
.padding10 {
    padding-bottom:10px;
}

.hvfullsize {
    width:100%;
    height: auto;
}

.hv-md-card {
    padding-top: 0px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    background: transparent !important;
}


.hvInline {list-style: none; margin-left:-45px; margin-top: -20px;}

.hvInline > li { display: inline-block; text-align: left; cursor: pointer;
    margin-bottom:5px; margin-right:10px; width: auto; vertical-align: top; padding:0px;}


.imageLabel {
    width:185px;
    height:30px;
}

.badge {
    position: absolute;
    margin-left:160px;
    margin-top:10px;
    padding:0px;
    z-index:1;
    width:30px;
    height:30px;
    line-height:25px;
    color:#ffffff;
    font-size:80%;
    text-align:center;
    background: url('../img/icon_multipleAssets30.png') no-repeat;
}

.imageBox {
    height:150px;
    display: table-cell;
    padding:0px;
    margin-left:auto;
    margin-right: auto ;
    z-index:0;
    text-align: center;
}

.imageBox > img {
    margin-left:auto !important;
    margin-right: auto !important;
    display: block !important;
}

.imageTitle {
    width:185px;
    height:40px;
    line-height:15px;
    font-size:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    display: inline-block;
    margin-top:10px;
    text-align: center;
    cursor:default;

}

.imageCaption {
    width:185px;
    height:40px;
    line-height:15px;
    font-size:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    display: inline-block;
    margin-top:10px;
    text-align: center;
    font-size:10px;
    cursor:default;

}

.hv-image-card {
    padding-top: 0px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    background: transparent !important;
    width:185px;
    height:230px;
    z-index:0 !important;
}

.nospace {
    padding:0px !important;
    margin-bottom:0px !important;
    margin-top:5px !important;
}

.lockIcon {
    display:block;
    position: absolute;
    margin-left:-11px;
    margin-top:-20px;
    z-index:5;
    width:25px;
    height:25px;
}

.lockIcon > img {
    width:25px;
    height:auto;
}

.thumbnail {
    display: inline-block;
    flex:1;
    flex-direction: column;
}

a.thumbnail > img:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition:0.4s;
    transition-timing-function: ease-out;
    border:1px solid #ff0000;
}


a.thumbnail > img:focus {
    cursor: pointer;
    transform: scale(1.04);
    transition:0.4s;
    transition-timing-function: ease-out;
    border:1px solid #ff0000;
}

.photo {
    width:auto;
    height:auto;
    z-index: 0;
}

.responsivePhoto {
    height:150px;
    width: auto;
}

.responsivePhoto2 {
    height:150px;
    width: 180px;
}

.responsivePhoto3 {
    height:auto;
    width: 180px;
}

.responsiveImage {
    width:600px;
    height: auto;
}


.nophoto {
    width:148px;
    height:148px;
    text-align: center;
    background:#efefef;
    line-height:148px;
    z-index: 0;
    margin-right: auto;
    margin-left: auto;
}

.nophoto:hover {
    border:1px solid #ff0000;
}

.nophoto:focus {
    border:1px solid #ff0000;
}

.noCursor {
    cursor: default;
}

.spaceTop {
    margin-top:10px !important;
}


prm-view-online-after md-grid-list {
    padding:0px;
    margin:0px;
}

prm-view-online-after md-grid-list > md-grid-tile {
    box-shadow: none !important;
}


@media only screen and (max-width: 800px) {
    .hvPanel {
        padding-bottom:70px;
        padding-left:15px;
        text-align: left;
    }

    .hvInline {list-style: none; margin-left:-45px; margin-top: -20px; word-break:break-all;}

    .hvInline > li { display: inline-table; text-align: left; cursor: pointer; display: -moz-inline-stack;
        margin-bottom:1px; margin-right:1px; width: auto; height:240px; vertical-align: top; padding:0px;}

}


@media print {

    .hvfullsize {
        width: 100%;
        height: auto;
    }

    .hvInline {list-style: none; margin-left:-45px; margin-top: -20px;word-break:break-all;}

    .hvInline > li {display:inline-block; word-break:break-all; text-align: left; cursor: pointer;
        margin-bottom:5px; margin-right:10px; width: auto; vertical-align: top; padding:0px;}
}

#textsms {
    width:100%;
    height: auto;
    padding-top:0px;
    padding-bottom:0px;
}

.textsms-row {
    background:#f3f3f3 ;
    margin-bottom:10px;
    padding-left:10px;
    cursor: pointer;
    font-size:110%;
}

.textsms-row:hover {
    background: #86adcc;
    color:#ffffff;
}

.textsms-row-visited {
    background: #86adcc;
    padding-left:10px;
    color:#ffffff;
}


.textsms-padding {
    padding:10px;
}

.textsms-link {
    color:#000000;
}

.textsms-link:hover {
    color:#ffffff;
}

.textsms-row-visited  a.textsms-link {
    color: #ffffff;
}


.textsms-alert {
    color:#ff0000;
    padding:5px;
}

.textsms-iconColor {
    color:#ffffff !important;
    background:#e1e1e1 !important;
}

.textsms-info {
    color: #5C92BD;
}

.barcode {
    background:#ffffff !important;
    position: relative !important;
    top:-10px !important;
    padding-left:20px;
    padding-right:10px;
    margin-left:1px;
    margin-right:1px;
    padding-top:20px;
    padding-bottom:20px;
}

.barcode > md-input-containter {
    width:100%;
}

.barcode > .full-width {
    width:200px;
    border:1px solid #ff0000;
}

.barcode > .error {
    color:#ff0000;
    padding-bottom:20px;
    padding-top:10px;
}

.barcodeError {
    color:#ff0000;
}

.barcodeResult {
    background:#efefef;
    padding:10px;
}
.barcodeResult:hover {
    background:#ffffff;
}

.barcodeResult:focus {
    background:#ffffff;
}


.barcodeSpacer {
    margin-left:20px;
}

.barcodeCounter {
    color: #cccccc;
    font-size:90%;
}

.pointer {cursor: pointer;}
#browseSearchBar {
    position: absolute;
    top:10px;
    width:100px;
    display: inline-block;
    text-align: left;
    padding:0px;
    margin:0px;
}

#browseSearchBar a {
    color:#ffffff;
    text-align: left;
    padding:0px;
    margin:0px;
}

#browseSearchBar a.search-switch-buttons {
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
}

#browseSearchBar a.basicSearch {
    padding-top:5px !important;
    padding-bottom:0px !important;
}
.hollisPlus {
    display: table-cell;
}

.boxHollis {
    padding-top:5px;
    margin-left:34px;
    white-space: nowrap;
}

.betaIcon {
    display: table-cell;
}

.betaIcon > img {
    width:33px;
    height:auto;
    padding-bottom:10px;
}
.highlite {
    background: #FFFCC4;
}
.browse-button {
    position: relative;
    margin-top:30px;
    margin-left:0px;
}

.search-switch-buttons {
    margin-top:-10px;
    margin-bottom:0px;
}


prm-browse-search-bar {
    background-color:#383838;
}

prm-browse-search-bar > button.submit-button {
    color:#a51c30 !important;
}

prm-browse-search-bar .simple-btn {
    color:#ffffff;
    margin-top: 10px;
    margin-left: 20px;
}

prm-browse-search-bar button.md-button.simple-btn:hover {
    color:#efefef !important;
}

/* magnify glass search in search box */
#magnifying-glass {
    color:#a51c30 !important;
}


@media only screen and (max-width: 900px) {
    .browse-button {
        margin-top:30px;
    }

}

.customMap {
    height:200px;
    width:auto;
}

.iconHome {
    width:16pt;
    height:16pt;
}

.iconMapFontSize {
    font-size:16pt;
    font-weight: bold;
}
.topMenu {
    background:#ffffff;
    color: #000000 !important;
    height:50px;
}

.hollisLogo {
    margin-bottom:-5px;
}


.customTopMenu {
    position: absolute;
    top:-50px;
    width:100%;
    height:50px;
    line-height:50px;
}

.customMenu {
    text-align: right;
}

.customMenu a {
    margin-right:15px;
}

.paddingleft15 {
    padding-left:15px;
}

.paddingleft35 {
    padding-left:35px;
}


.marginRight20 {
    margin-right:20px;
}

prm-topbar {
    background-color:#000000;
}

prm-topbar > div.top-nav-bar {
    background-color:#000000;
}

prm-search-bar {
    background-color:#383838;
}

/* magnify glass search in search box */
div.search-actions > .md-button.button-confirm {
    color:#a51c30;
}

div.search-actions > .md-button.button-confirm:hover {
    color:#a51c30;
}

.hv-menu {
    color:#000000;
    padding:5px;
}

.hv-menu:hover {
    color:#000000;
}
.imageLabel {
    width:185px;
    height:30px;
}

.badge {
    position: absolute;
    margin-left:160px;
    margin-top:10px;
    padding:0px;
    z-index:1;
    width:30px;
    height:30px;
    line-height:25px;
    color:#ffffff;
    font-size:80%;
    text-align:center;
    background: url('../img/icon_multipleAssets30.png') no-repeat;
}

.imageBox {
    height:150px;
    display: table-cell;
    padding:0px;
    margin-left:auto;
    margin-right: auto ;
    z-index:0;
    text-align: center;
}

.imageBox > img {
    margin-left:auto !important;
    margin-right: auto !important;
    display: block !important;
}

.imageTitle {
    width:185px;
    height:40px;
    line-height:15px;
    font-size:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    display: inline-block;
    margin-top:10px;
    text-align: center;
    cursor:default;

}

.imageCaption {
    width:185px;
    height:40px;
    line-height:15px;
    font-size:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    display: inline-block;
    margin-top:10px;
    text-align: center;
    font-size:10px;
    cursor:default;

}

.hv-image-card {
    padding-top: 0px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    background: transparent !important;
    width:185px;
    height:230px;
    z-index:0 !important;
}


.hv-image-card2 {
    padding-top: 0px !important;
    margin-top:0px !important;
    margin-bottom:10px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    background: transparent !important;
    width:185px;
    height:auto;
    z-index:0 !important;
}

.nospace {
    padding:0px !important;
    margin-bottom:0px !important;
    margin-top:5px !important;
}

.lockIcon {
    display:block;
    position: absolute;
    margin-left:-11px;
    margin-top:-20px;
    z-index:5;
    width:25px;
    height:25px;
}

.lockIcon > img {
    width:25px;
    height:auto;
}

.thumbnail {
    display: inline-block;
    flex:1;
    flex-direction: column;
}

a.thumbnail > img:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition:0.4s;
    transition-timing-function: ease-out;
    border:1px solid #ff0000;
}


a.thumbnail > img:focus {
    cursor: pointer;
    transform: scale(1.04);
    transition:0.4s;
    transition-timing-function: ease-out;
    border:1px solid #ff0000;
}

.photo {
    width:auto;
    height:auto;
    z-index: 0;
}

.responsivePhoto {
    height:150px;
    width: auto;
}

.responsivePhoto2 {
    height:150px;
    width: 180px;
}

.responsivePhoto3 {
    height:auto;
    width: 180px;
}


.nophoto {
    width:148px;
    height:148px;
    text-align: center;
    background:#efefef;
    line-height:148px;
    z-index: 0;
    margin-right: auto;
    margin-left: auto;
}

.nophoto:hover {
    border:1px solid #ff0000;
}

.nophoto:focus {
    border:1px solid #ff0000;
}

.noCursor {
    cursor: default;
}
