#printView {
    padding-top:0px;
    padding-left:0px;
}

#printView  prm-topbar {
    display: none;
}

#printView prm-search-bar {
    display: none;
}

#printView  #virtualBrowse {
    display: none;
}

#printView  #action_list {
    display: none;
}


#printView  .pin-button {
    display: none;
}

#printView  md-content {
    padding:0px;
    margin:0px;
}

#printView  #services-index {
    display: none;
}

#printView .full-view-section {
    padding:0px;
    margin:0px;
}

#printView .full-view-section-content {
    padding-left:10px;
    margin-left:10px;
    padding-right:10px;
}

#printView .full-view-inner-container {
    margin:0px;
    padding:0px;
}

#printView  #lcs_slide_out-10171 {
    display:none;
}

#printView #tags {
    display: none;
}


@media only print {
    body {
        background:#ffffff;
        padding:0px;
        margin:0px;
    }

    #fullView .full-view-section-content {
        padding-left:10px;
        margin-left:10px;
        padding-right:10px;
    }

    #fullView .layout-row {
        margin-bottom:10px;
    }

   #fullView prm-service-details {
        padding-bottom:10px;
        margin-bottom:10px;
        padding-right:10px;
    }

    prm-topbar {
        display: none;
    }

    prm-search-bar {
        display: none;
    }

    #fullView #virtualBrowse {
        display: none;
    }

    #fullView #action_list {
        display: none;
    }


    #fullView .pin-button {
        display: none;
    }

    #fullView md-content {
        padding:0px;
        margin:0px;
    }

    #fullView #services-index {
        display: none;
    }

    #fullView .full-view-section {
        padding:0px;
        margin:0px;
    }

    #fullView .full-view-section-content {
        padding-left:10px;
        margin-left:10px;
        padding-right:10px;
    }

    #fullView .full-view-inner-container {
        margin:0px;
        padding:0px;
    }

    #lcs_slide_out-10171 {
        display:none;
    }

    prm-back-to-search-results-button {
        display: none;
    }

    #fullView #tags {
        display: none;
    }

}
