/*
@media print {
    body {background:#ffffff;}
   .full-view-inner-container {background: #ffffff;}
   prm-logo, prm-main-menu, prm-search-bookmark-filter, prm-user-area, prm-search-bar, div.services-index-under, #virtualBrowse, #action_list, #links {
       display:none;
   }
   md-toolbar.default-toolbar { display:none }
   #lcs_slide_out-10171 {display:none;}
   div.full-view-inner-container  {
       flex:none;
       display:block;
       overflow: visible;
       overflow-y:visible;
       position:relative;
   }
   .md-dialog-container, .prm-full-view-dialog, md-dialog md-dialog-content {
       display:block;
       overflow: visible;
       overflow-y:visible;
       position:relative;
   }
   div.full-view-section {
    margin-top: 0px;
    padding-left: 0px;
   }
   .__gt-xs .full-view-section-content {
    padding-left: 0.5em;
    }
    div.result-item-text {margin-left: -50px;}

   prm-full-view prm-brief-result-container .result-item-image {display:none;}
   }
}
*/