#aeon {
    text-align: center;
}

#aeon .box {
    margin:20px;
    padding:20px;
    background:#cccccc;
    display: inline-block;
    text-align: left;
}

#aeon .title {
    font-size:16pt;
    font-weight: 600;
    padding-bottom:10px;
    padding-top:10px;
}

#aeon h2 {
    color:#ffffff;
    font-size:16pt;
    font-weight: 600;
}


#aeon .row {
    padding:5px;
    background:#ffffff;
    margin-bottom:2px;
    font-size:14pt;
    font-weight:400;
    cursor:pointer;
    width:400px;
}

#aeon .row:hover {
    background:#efefef;
}

#aeon .marginRight {margin-right:20px;}

#aeon .loading {
    text-align: center;
}

#aeon .space {
    margin-bottom:10px;
}

#aeon .bold-text {
    font-weight: bold;
    font-size:14pt;
}



#iframe {
    width:100%;
    height:90vh;
}
#textsms {
   padding:5px;
   cursor: pointer;
   z-index:10;
   color:#5F5F5F;
   font-weight: 300;
}


#textsms .row {
    text-align: center;
    cursor: pointer;
}

#textsms .button-text {
    font-size:10px;
    line-height:14px;
    font-weight:600;
    cursor: pointer;
}

#textsms:hover {
    color:#5F5F5F;
}


#textsms .row:hover {
    background:#e1e1e1;
    color:#5F5F5F;
}

.pointer {
    cursor: pointer;
}

#textsms svg  {
    fill:#5F5F5F;
}

#textsms .textsms-info {
    font-weight: bold;
}



#textsms {
    width:100%;
    height: auto;
    padding-top:0px;
    padding-bottom:0px;
}

.textsms-row {
    background:#f3f3f3 ;
    margin-bottom:10px;
    padding-left:10px;
    cursor: pointer;
    font-size:110%;
}

.textsms-row:hover {
    background: #86adcc;
    color:#ffffff;
}

.textsms-row-visited {
    background: #86adcc;
    padding-left:10px;
    color:#ffffff;
}


.textsms-padding {
    padding:10px;
}

.textsms-link {
    color:#000000;
}

.textsms-link:hover {
    color:#ffffff;
}

.textsms-row-visited  a.textsms-link {
    color: #ffffff;
}


.textsms-alert {
    color:#ff0000;
    padding:5px;
}

.textsms-iconColor {
    color:#ffffff !important;
    background:#e1e1e1 !important;
}

.textsms-info {
    color: #5C92BD;
}

.barcode {
    background:#ffffff !important;
    position: relative !important;
    top:-10px !important;
    padding-left:20px;
    padding-right:10px;
    margin-left:1px;
    margin-right:1px;
    padding-top:20px;
    padding-bottom:20px;
}

.barcode > md-input-containter {
    width:100%;
}

.barcode > .full-width {
    width:200px;
    border:1px solid #ff0000;
}

.barcode > .error {
    color:#ff0000;
    padding-bottom:20px;
    padding-top:10px;
}

.barcodeError {
    color:#ff0000;
}

.barcodeResult {
    background:#efefef;
    padding:10px;
}
.barcodeResult:hover {
    background:#ffffff;
}

.barcodeResult:focus {
    background:#ffffff;
}


.barcodeSpacer {
    margin-left:20px;
}

.barcodeCounter {
    color: #cccccc;
    font-size:90%;
}

.pointer {cursor: pointer;}
#browseSearchBar {
    position: absolute;
    top:10px;
    width:100px;
    display: inline-block;
    text-align: left;
    padding:0px;
    margin:0px;
}

#browseSearchBar a {
    color:#ffffff;
    text-align: left;
    padding:0px;
    margin:0px;
}

#browseSearchBar a.search-switch-buttons {
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
}

#browseSearchBar a.basicSearch {
    padding-top:5px !important;
    padding-bottom:0px !important;
}
.hollisPlus {
    display: table-cell;
}

.boxHollis {
    padding-top:5px;
    margin-left:34px;
    white-space: nowrap;
}

.betaIcon {
    display: table-cell;
}

.betaIcon > img {
    width:33px;
    height:auto;
    padding-bottom:10px;
}
.highlite {
    background: #FFFCC4;
}
.browse-button {
    position: relative;
    margin-top:30px;
    margin-left:0px;
}

.search-switch-buttons {
    margin-top:-10px;
    margin-bottom:0px;
}


prm-browse-search-bar {
    background-color:#383838;
}

prm-browse-search-bar > button.submit-button {
    color:#a51c30 !important;
}

prm-browse-search-bar .simple-btn {
    color:#ffffff;
    margin-top: 10px;
    margin-left: 20px;
}

prm-browse-search-bar button.md-button.simple-btn:hover {
    color:#efefef !important;
}

/* magnify glass search in search box */
#magnifying-glass {
    color:#a51c30 !important;
}


@media only screen and (max-width: 900px) {
    .browse-button {
        margin-top:30px;
    }

}

.customMap {
    height:200px;
    width:auto;
}

.iconHome {
    width:16pt;
    height:16pt;
}

.iconMapFontSize {
    font-size:16pt;
    font-weight: bold;
}
.topMenu {
    background:#ffffff;
    color: #000000 !important;
    height:50px;
}

.hollisLogo {
    margin-bottom:-5px;
}


.customTopMenu {
    position: absolute;
    top:-50px;
    width:100%;
    height:50px;
    line-height:50px;
}

.customMenu {
    text-align: right;
}

.customMenu a {
    margin-right:15px;
}

.paddingleft15 {
    padding-left:15px;
}

.paddingleft35 {
    padding-left:35px;
}


.marginRight20 {
    margin-right:20px;
}

prm-topbar {
    background-color:#000000;
}

prm-topbar > div.top-nav-bar {
    background-color:#000000;
}

prm-search-bar {
    background-color:#383838;
}

/* magnify glass search in search box */
div.search-actions > .md-button.button-confirm {
    color:#a51c30;
}

div.search-actions > .md-button.button-confirm:hover {
    color:#a51c30;
}

.hv-menu {
    color:#000000;
    padding:5px;
}

.hv-menu:hover {
    color:#000000;
}