#homePageAlert {
    background: #fef5d8;
    color:#1e1e1e;
}

#homePageAlert md-card-title-text {
    flex-direction: row;
}

#homePageAlert a {
    color: #1e1e1e;
}

#homePageAlert h2 {
    margin-bottom: 0;
    line-height: 1em;
}

.homePageAlertIcon {
    align-self: center;
    height: 21px;
    width: 18px;
    margin-right: 15px;
}
   