prm-collection-gallery-header .collection-header-inner {
    background: linear-gradient(-46deg,#eb001b 0%,#a51c30 100%);
    background-repeat: no-repeat; /
    /* background-size: cover; */
    /* background-position: 50%; */
}
prm-collection-gallery-header a {
    color: #fff;
    font-family: "Trueno", sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: bold;
    line-height: 1.73;
    text-decoration: none;
}
prm-collection-gallery-header .collection-info p {
    line-height:1.6em;
}
prm-collection-gallery-header .collection-info a {
    text-decoration: underline;
}
prm-collection-discovery h1 {
    font-family: "Trueno", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    margin-top: 20px;
    text-transform: uppercase; 
    letter-spacing: 2.4px;
}
prm-collection-gallery-header p {
    font-size: 15px;
    font-family: "Trueno", sans-serif;
}
prm-collection-navigation-breadcrumbs prm-collection-navigation-breadcrumbs-item:first-child {
    display:none;
}
prm-collection-gallery-header prm-collection-navigation-breadcrumbs prm-collection-navigation-breadcrumbs-item .skewed-divider{
    display:none;
}
prm-collection-gallery-header prm-collection-navigation-breadcrumbs-item .md-button.button-as-link {
    font-family: "Trueno", sans-serif;
    line-height: 1.73;
    text-transform: uppercase; 
    line-height: 32px;
    letter-spacing: 2.4px;
    margin-left: 5px;
}
prm-collection-gallery-header prm-collection-navigation-breadcrumbs-item .md-button.button-as-link.link-alt-color {
    box-shadow: inset 0 -3px 0 0 rgba(255, 255, 255, 0.3);
    border-radius:0px;
}
prm-collection-gallery-header prm-collection-navigation-breadcrumbs-item .md-button.button-as-link.link-alt-color:hover:not([disabled]) {
    box-shadow: inset 0 -3px 0 0 rgba(255, 255, 255, 1);
    border-radius:0px;
}
prm-collection-search md-toolbar.default-toolbar,
prm-collection-search md-toolbar.md-primoExplore-theme.default-toolbar {
    background-color:#f3f3f3; 
}
/* hide search toolbar if page has subsets */
/* prm-collection-gallery:has(prm-gallery-collections-list div.is-gallery-view) prm-collection-search md-toolbar.default-toolbar,
prm-collection-gallery:has(prm-gallery-collections-list div.is-gallery-view) prm-collection-search md-toolbar.md-primoExplore-theme.default-toolbar {
    display:none;
} */
/* hide "didn't find what you're looking for? search all collections"  because that takes you to lobby which we don't want people to find */
prm-collection-gallery div.collection-discovery-expand-search {
    display:none;
}
/* hide option to sort collections */
prm-collection-search md-toolbar div.collection-sort-cont div:has(md-input-container md-select[aria-label*='Sort sub-collections by'] ){
    display:none;
}
/* show note only if a coll has subsets AND an item list */
prm-collection-gallery:has(prm-gallery-collections-list div.is-gallery-view):has(prm-gallery-items-list div) prm-collection-search md-toolbar div.search-within::after {
    content:'This will NOT search items within sub-sets.';
}
/* on gallery page, hide LTS take-out */
prm-gallery-collection:has(a[href*="812657355870003941"]){
    display:none;
}
prm-collection-gallery-header .collection-header-inner.has-transparent-topbar {
    margin-top:0px;
    padding-top:0px;
    /* background-size:contain;
    background-repeat:no-repeat;
    background-position:80%; */
}
prm-collection-gallery-header .collection-header-inner.has-backdrop-image:before {
    background-image: linear-gradient(-45deg, #0579b8 0%, #2a5280 100%);
    opacity:1;
}
prm-collection-gallery-header .collection-info {
    max-width:900px;
    padding-bottom: 30px;
}
prm-explore-main .header .transparent-top-bar:before {
    display:none;
}
.bar prm-authentication .section-title prm-collection-navigation-breadcrumbs-item prm-icon.md-button, .bar prm-authentication prm-collection-navigation-breadcrumbs-item .md-button.link-alt-color, .is-gallery-view prm-gallery-item .collection-element .item-actions prm-collection-navigation-breadcrumbs-item .md-button, .is-gallery-view prm-gallery-item .collection-element .item-actions prm-collection-navigation-breadcrumbs-item button, .is-grid-view prm-gallery-item .collection-element .item-actions prm-collection-navigation-breadcrumbs-item .md-button, .is-grid-view prm-gallery-item .collection-element .item-actions prm-collection-navigation-breadcrumbs-item button, .section-title .bar prm-authentication prm-collection-navigation-breadcrumbs-item prm-icon.md-button, .section-title prm-collection-navigation-breadcrumbs-item prm-icon.md-button.button-as-link, prm-collection-navigation-breadcrumbs-item .bar prm-authentication .md-button.link-alt-color, prm-collection-navigation-breadcrumbs-item .bar prm-authentication .section-title prm-icon.md-button, prm-collection-navigation-breadcrumbs-item .is-gallery-view prm-gallery-item .collection-element .item-actions .md-button, prm-collection-navigation-breadcrumbs-item .is-gallery-view prm-gallery-item .collection-element .item-actions button, prm-collection-navigation-breadcrumbs-item .is-grid-view prm-gallery-item .collection-element .item-actions .md-button, prm-collection-navigation-breadcrumbs-item .is-grid-view prm-gallery-item .collection-element .item-actions button, prm-collection-navigation-breadcrumbs-item .md-button.button-as-link.link-alt-color, prm-collection-navigation-breadcrumbs-item .section-title .bar prm-authentication prm-icon.md-button, prm-collection-navigation-breadcrumbs-item .section-title prm-icon.md-button.button-as-link, prm-collection-navigation-breadcrumbs-item prm-gallery-collection .collection-folder .item-actions .md-button, prm-collection-navigation-breadcrumbs-item prm-gallery-collection .collection-folder .item-actions button, prm-gallery-collection .collection-folder .item-actions prm-collection-navigation-breadcrumbs-item .md-button, prm-gallery-collection .collection-folder .item-actions prm-collection-navigation-breadcrumbs-item button {
    /* color:#0579b8; */
    color:white;
    font-weight: 600;
    font-style: bold;
    line-height:1.73;
    padding:0;
    margin-top:10px;
    /* background-color:#3a3a3a; */
    
}
prm-collection-navigation-breadcrumbs-item .md-button.button-as-link.link-alt-color:hover:not([disabled]) {
    /* box-shadow:inset 0 -3px 0 0 white; */
    background-color:transparent;
}
prm-gallery-collection .collection-folder .collection-overlay {
    color:#0579b8;
}
prm-collection-discovery prm-gallery-collection .collection-folder .collection-images div {
    background-position-y:25%;
}
/* this one just shows first thumbnail and drops others */
prm-collection-discovery prm-gallery-collection .collection-folder .collection-images div:not(:first-child) {
    display:none;
}
prm-collection-gallery-header prm-save-to-favorites-button {
    display:none;
}
prm-collection-discovery prm-search-result-thumbnail-container {
    min-height:140px;
}
prm-collection-discovery prm-search-result-thumbnail-container img {
    width:auto;
    max-width: 200px;
}
prm-collection-discovery .is-grid-view prm-gallery-item .collection-element prm-search-result-thumbnail-container img { 
    min-height:140px;
}
/* on list of items, add border to 'load more' button because it blends in a little too much */
prm-gallery-items-list .md-button.button-confirm {
    border:1px solid #0579b8;
}
/* ------------------------------- */
/* BEGIN SECTION FOR COLL PATH ON FULL VIEW PAGE */
/* hide LTS take-out */
prm-full-view prm-service-details prm-record-collection-paths:has(a[href*="812657355870003941"]){
    display:none;
}
prm-full-view prm-service-details prm-record-collection-paths span.bold-text {
    display:block;
    padding-top:13px;
}
prm-full-view prm-service-details prm-collection-navigation-breadcrumbs-item .md-button.button-as-link.link-alt-color{
    color: #0579b8;
    font-weight:normal;
}
prm-full-view prm-service-details prm-collection-navigation-breadcrumbs-item .md-button.button-as-link.link-alt-color:hover:not([disabled]) {
    color: #0579b8;
    background-color:transparent;
    border-radius:0px;
    box-shadow: inset 0 -3px 0 0 rgba(5, 121, 184, 0.3);
}
prm-full-view prm-service-details prm-collection-navigation-breadcrumbs-item .skewed-divider {
    border-bottom:1px solid;
    opacity:.75;
    margin-top:.9em;
    margin-bottom:.1em;
    margin-left:.2em;
    margin-right:.2em;
}
/* hide the / that appears after the last breaadcrumb */
prm-full-view prm-service-details prm-collection-navigation-breadcrumbs-item:last-child .skewed-divider {
    display:none;
} 
/* END SECTION FOR COLL PATH ON FULL VIEW PAGE */