prm-static a {
  border-bottom: 3px solid transparent;
  color: #0579b8;
  font-family: "Trueno", sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  line-height: 29px;
  text-decoration: none;
  transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96);
}

prm-static a:hover, prm-static a:focus {
  border-bottom-color: rgba(5, 121, 184, 0.3);
  color: #0579b8;
  box-shadow: none;
}

@media(min-width:621px) {
  prm-static a {
    font-size: 19px;
    line-height: 32px;
  }
}

.hl__right-arrow {
  text-align: right;
}

.hl__right-arrow a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
}

.hl__right-arrow a::after {
	border-bottom: 0.425em solid transparent;
	border-left: 0.5em solid currentColor;
	border-top: 0.425em solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	margin-left: 0.3em;
	opacity: 0.6;
	background-image: none;
	padding-right: 0;
}

md-card .hl__right-arrow {
  margin-top: 30px;
}

/* headings and spacing */
prm-static h2, prm-static h2.md-headline {
  font-family: "Trueno", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #1e1e1e;
}
prm-static h2.md-headline {
  margin-bottom: 20px;
}
@media(min-width:621px){
  prm-static h2, prm-static h2.md-headline {
    font-size: 32px;
  }
}

prm-static h3 {
  font-family: "Trueno", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #1e1e1e;
}

/* section padding */
.hl__search-tools-grid, 
.hl__overlay-promo-grid {
  margin-bottom: 40px;
}
.hl__overlay-promo-grid {
  margin-top: 65px;
}
.hl__search-tools-grid, .hl__overlay-promo-grid {
  margin-left: 8px;
  margin-right: 8px;
}
prm-static + div, md-content:not(.padded-container) .flex-md-0 {
  display: none;
}
prm-static.md-padding {
	margin-left: auto;
	margin-right: auto;
	padding: 52px 20px 60px;
	max-width: 1450px;
}

/* homepage card padding */
prm-static[section="homepage"] md-card.default-card {
  box-shadow: none;
  max-width: 930px;
  margin-bottom: 60px;
}
prm-static[section="homepage"] md-card-title {
  padding: 30px;
}
prm-static[section="homepage"] md-card.default-card md-card-title:not(#featuredResultTitle) {
  padding: 30px 30px 0px;
}
prm-static[section="homepage"] custom-alert md-card.default-card md-card-title:not(#featuredResultTitle) + md-card-content,
prm-static[section="homepage"] md-card.default-card md-card-title:not(#featuredResultTitle) + md-card-content {
  font-family: "Lora", serif;
  padding: 0 30px 30px;
  font-size: 15px;
  line-height: 28px;
}
prm-static[section="homepage"] custom-alert md-card-content a {
  font-size: 15px;
  line-height: 1.25;
}
prm-static[section="homepage"] md-card.default-card md-card-title:not(#featuredResultTitle) + md-card-content {
  font-size: 17px;
  line-height: 29px;
}
@media(min-width: 621px) {
  prm-static[section="homepage"] md-card.default-card md-card-title:not(#featuredResultTitle) + md-card-content {
    font-size: 19px;
    line-height: 32px;
  }
}


/* fancy link cards (related services & tools) */
.hl__fancy-link {
  background-color: #fafafa;
  display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 30px;
  position: relative;
  text-decoration: none;
  border-bottom: none;
}
.hl__fancy-link:before {
  background-image: linear-gradient(-45deg, #0579b8 0%, #2a5280 100%);
  content: "";
  height: 100%;
  opacity: 1;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  transition: opacity .5s ease-in;
  width: 100%;
}
.hl__fancy-link:focus:before,
.hl__fancy-link:hover:before {
  opacity: 0;
}
.hl__fancy-link__title {
  color: white;
  font-family: "Trueno", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  text-transform: none;
  position: relative;
  transition: color .5s ease-in;
  z-index: 3;
  margin-bottom: 0.4em;
  letter-spacing: 0;
}
.hl__fancy-link__description {
  color: white;
  font-family: Lora,Georgia,serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 26px;
  position: relative;
  transition: color .5s ease-in;
}
.hl__fancy-link:focus .hl__fancy-link__title,
.hl__fancy-link:hover .hl__fancy-link__title {
  color: #0579b8;
}
.hl__fancy-link:focus .hl__fancy-link__description,
.hl__fancy-link:hover .hl__fancy-link__description {
  color: #1e1e1e;
}


/* image overlay cards */
.hl__overlay-promo {
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  display:block;
  font-size:0;
  overflow:hidden;
  position:relative;
  text-decoration:none;
  transition:background 0.5s ease;
  width:100%;
  border: none;
 }
 .hl__overlay-promo:before {
  content:"";
  display:inline-block;
  height:1px;
  margin-left:-1px;
  padding-top:63%;
  vertical-align:bottom;
  width:1px;
 }
 .hl__overlay-promo:after {
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
  transition:background 0.7s ease;
 }
 .hl__overlay-promo:hover,
 .hl__overlay-promo:focus {
  box-shadow:none;
  padding:0;
  margin:0;
  z-index:90;
 }
 .hl__overlay-promo:hover:after,
 .hl__overlay-promo:focus:after {
  background-color:rgba(82,117,126,0.7);
 }
 .hl__overlay-promo__details,
 .hl__overlay-promo__details-spacer {
  padding:37px 20px 10px;
  width:calc(100% - 1px);
 }
 @media (min-width:781px) {
  .hl__overlay-promo__details,
  .hl__overlay-promo__details-spacer {
   padding:47px 30px 20px;
  }
 }
 .hl__overlay-promo__details-spacer {
  display:inline-block;
  vertical-align:top;
  visibility:hidden;
 }
 .hl__overlay-promo__details {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.3) 100%);
  color:white;
  position:absolute;
  bottom:0;
  transition:padding 0.5s ease;
  z-index:1;
 }
 .hl__overlay-promo__details:before {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.3),transparent);
  content:"";
  height:100%;
  position:absolute;
  bottom:100%;
  left:0;
  width:100%;
  z-index:1;
 }
 .hl__overlay-promo__title {
  color:#1e1e1e;
  font-family:"Trueno",sans-serif;
  font-size:26px;
  font-weight:700;
  letter-spacing:0;
  line-height:32px;
  margin-bottom:0.4em;
  color:white;
  position:relative;
  text-transform: none;
 }
 .hl__overlay-promo__subtitle {
  font-family:Lora,Georgia,serif;
  font-size:18px;
  font-style:italic;
  font-weight: normal;
  line-height: 26px;
  margin-bottom:10px;
 }


 /* grid layouts */
.hl__overlay-promo-grid__grid,
.hl__fancy-link-list__grid {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 621px) {
  .hl__overlay-promo-grid__grid,
  .hl__fancy-link-list__grid {
    margin-left: -20px;
  }
}
@media (min-width: 1171px) {
  .hl__overlay-promo-grid__grid,
  .hl__fancy-link-list__grid {
    margin-left: -30px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
.hl__overlay-promo-grid .hl__overlay-promo,
.hl__fancy-link-list__grid .hl__fancy-link {
  flex: none;
  margin-bottom: 20px;
  width: 100%;
}
@media (min-width: 621px) {
  .hl__overlay-promo-grid .hl__overlay-promo,
  .hl__fancy-link-list__grid .hl__fancy-link {
    margin-left: 20px;
    width: calc(50% - 20px);
  }
}
@media (min-width: 1171px) {
  .hl__overlay-promo-grid .hl__overlay-promo,
  .hl__fancy-link-list__grid .hl__fancy-link {
    margin-bottom: 30px;
    margin-left: 30px;
    width: calc(33.333% - 30px);
  }
}