.topMenu {
    background:#ffffff;
    color: #000000 !important;
    height:50px;
}

.hollisLogo {
    margin-bottom:-5px;
}


.customTopMenu {
    position: absolute;
    top:-50px;
    width:100%;
    height:50px;
    line-height:50px;
}

.customMenu {
    text-align: right;
}

.customMenu a {
    margin-right:15px;
}

.paddingleft15 {
    padding-left:15px;
}

.paddingleft35 {
    padding-left:35px;
}


.marginRight20 {
    margin-right:20px;
}

prm-topbar {
    background-color:#000000;
}

prm-topbar > div.top-nav-bar {
    background-color:#000000;
}

prm-search-bar {
    background-color:#383838;
}

/* magnify glass search in search box */
div.search-actions > .md-button.button-confirm {
    color:#a51c30;
}

div.search-actions > .md-button.button-confirm:hover {
    color:#a51c30;
}

.hv-menu {
    color:#000000;
    padding:5px;
}

.hv-menu:hover {
    color:#000000;
}