<md-card class="default-card" id="homePageAlert" ng-if="vm.alertMsg.status=='on'">
    <md-card-title>
        <md-card-title-text>
            <div class="homePageAlertIcon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="21" viewBox="0 0 18 21"><g><g transform="translate(-37 47)"><path id="qy38a" d="M52.88-32.18V-38a6.87 6.87 0 0 0-5.29-6.69v-.72a1.59 1.59 0 1 0-3.18 0v.72A6.87 6.87 0 0 0 39.12-38v5.82L37-30.06V-29h18v-1.06l-2.12-2.12zM44-28a2 2 0 1 0 4 0h-4z"></path></g></g></svg>
            </div>
            <h2 class="md-headline homepageAlertLabel">
                {{vm.alertMsg.title}}
            </h2>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>{{vm.alertMsg.description}}
            <a ng-if="vm.alertMsg.link" href="{{vm.alertMsg.link}}" target="_blank" title="Click here for more information">{{vm.alertMsg.linkText}}</a>
        </p>
        <p ng-if="vm.alertMsg.date">
            Date : {{vm.alertMsg.date}}
        </p>
    </md-card-content>
</md-card>