<!-- search hathitrust link for books -->
<div ng-if="vm.showHathiLink" class="spaced-rows">
    <div ng-show="vm.searchHathiLink">
        <a class="arrow-link md-primoExplore-theme" href="{{vm.searchHathiLink}}" target="_blank">
            <span>Search HathiTrust (via Harvard membership)</span>
            <prm-icon external-link icon-type="svg" svg-icon-set="primo-ui" icon-definition="open-in-new"></prm-icon>
            <prm-icon link-arrow icon-type="svg" svg-icon-set="primo-ui" icon-definition="chevron-right"></prm-icon>
        </a>

    </div>
</div>
<!-- The html below is used for Digital Bookplates component -->
<ul class="serviceLink">
    <!-- items have image and matching with $$U and $$d -->
    <li ng-repeat="rec in vm.itemList track by $index">
        <md-card class="serviceLinkBox">
            <md-card-title-text class="serviceLinkSpace">
                <a class="arrow-link md-primoExplore-theme" href="{{rec.linkURL}}" title="{{rec.displayLabel}}"
                    target="_blank">
                    <span>{{rec.displayLabel}}</span>
                    <prm-icon external-link icon-type="svg" svg-icon-set="primo-ui"
                        icon-definition="open-in-new"></prm-icon>
                    <prm-icon link-arrow icon-type="svg" svg-icon-set="primo-ui"
                        icon-definition="chevron-right"></prm-icon>
                </a>
            </md-card-title-text>
            <md-card-title-media>
                <div layout="row" layout-align="start start" class="md-media-md card-media">
                    <a href="{{rec.linkURL}}" target="_blank" title="{{rec.displayLabel}}" class="serviceLinkImage">
                        <img src="{{rec.linkNewURL}}" alt="{{rec.displayLabel}}" class="serviceLinkPhoto" />
                    </a>
                </div>
            </md-card-title-media>
        </md-card>
    </li>
</ul>

<!-- Alma-D auxilliary image testing; first one is dress for success-->

<div class="hvd-embed-uv" ng-if="vm.almaDaux">
   
    <h4 class="section-title md-title light-text" >Sample Content</h4>
    <md-divider flex="" class="md-primoExplore-theme flex"></md-divider>


    <div ng-if="vm.almaDaux">
        <iframe
            src="https://hvd.alma.exlibrisgroup.com/view/UniversalViewer/01HVD_INST/122657353980003941#?iiifVersion=3&updateStatistics=false&embedded=true&c=0&m=0&s=0&cv=0&config=&locales=en-GB:English (GB),cy-GB:Cymraeg,fr-FR:Français (FR),pl-PL:Polski,sv-SE:Svenska,xx-XX:English (GB) (xx-XX)&xywh=-727,-268,4673,5340&r=0&"
            sidebarOpen=" true" allowfullscreen fullscreenEnabled="true" frameborder="0"></iframe>
    </div>
    <div ng-if="vm.almaDaux2">
        
        <iframe
            src="https://hvd.alma.exlibrisgroup.com/view/UniversalViewer/01HVD_INST/122654584640003941#?iiifVersion=3&updateStatistics=false&embedded=true&c=0&m=0&s=0&cv=0&config=&locales=en-GB:English (GB),cy-GB:Cymraeg,fr-FR:Français (FR),pl-PL:Polski,sv-SE:Svenska,xx-XX:English (GB) (xx-XX)&xywh=-727,-268,4673,5340&r=0"
            width="1000" height="700" allowfullscreen frameborder="0"></iframe>
    </div>

</div>
<!-- end Alma-D auxilliary image testing -->