<div ng-repeat="entry in vm.sm_holdings track by $index" 
    layout="row" layout-align="start start"
    class="layout-align-start-start layout-row">
    <div layout="flex" class="layout-row" ng-style="{display: vm.getDisplay()}">
        <prm-icon ng-if="vm.parentCtrl.isPhysical($index, vm.delivery)" 
            svg-icon-set="primo-ui" 
            availability-type="" 
            icon-type="svg"
            icon-definition="book-open" >
            <md-icon ng-if="!vm.parentCtrl.isCustom"
                md-svg-icon="primo-ui:book-open" 
                alt="" class="md-primoExplore-theme"
                aria-hidden="true">
                <svg id="book-open" width="100%" height="100%" viewBox="0 0 24 24" y="480" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <path d="M19,2L14,6.5V17.5L19,13V2M6.5,5C4.55,5 2.45,5.4 1,6.5V21.16C1,21.41 1.25,21.66 1.5,21.66C1.6,21.66 1.65,21.59 1.75,21.59C3.1,20.94 5.05,20.5 6.5,20.5C8.45,20.5 10.55,20.9 12,22C13.35,21.15 15.8,20.5 17.5,20.5C19.15,20.5 20.85,20.81 22.25,21.56C22.35,21.61 22.4,21.59 22.5,21.59C22.75,21.59 23,21.34 23,21.09V6.5C22.4,6.05 21.75,5.75 21,5.5V7.5L21,13V19C19.9,18.65 18.7,18.5 17.5,18.5C15.8,18.5 13.35,19.15 12,20V13L12,8.5V6.5C10.55,5.4 8.45,5 6.5,5V5Z"></path>
                </svg>
            </md-icon>
            <prm-icon-after parent-ctrl="vm.parentCtrl"></prm-icon-after>
        </prm-icon>
        <prm-icon ng-if="vm.parentCtrl.isLink($index, vm.delivery)"
            availability-type="" 
            icon-type="svg"
            svg-icon-set="primo-ui" 
            icon-definition="book-open">
            <md-icon ng-if="!vm.parentCtrl.isCustom" 
                md-svg-icon="primo-ui:link" alt="" class="md-primoExplore-theme" aria-hidden="true">
                <svg id="link_cache46" width="100%" height="100%" viewBox="0 0 24 24" y="528" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <path d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z"></path>
                </svg>
            </md-icon>
            <prm-icon-after parent-ctrl="vm.parentCtrl"></prm-icon-after>
        </prm-icon>
        <button 
            class="neutralized-button arrow-link-button md-button md-primoExplore-theme md-ink-ripple"
            ng-click="vm.onCustomLinkClick(entry)">
            <span class="button-content">
                <span 
                    class="availability-status {{entry.availabilityStatus}}" 
                    ng-class="{'text-rtl': $ctrl.switchToLtrString()}"
                    translate="{{entry.availabilityDisplay()}}"></span>
                <span
                    class="best-location-library-code"
                    translate="{{entry.libraryCode}}"></span> 
                <span
                    class="best-location-sub-location"
                    translate="{{entry.subLocation}}"></span> 
                <span
                    class="best-location-delivery">{{entry.callNumber}}</span>
            </span>
        </button>
    </div>
</div>