<!-- singleImage.html -->
<!-- show iframe in the center -->

<img ng-if="vm.restricted" src="custom/HVD2/img/icon_lock25.png" class="hvdSingleImgLock" alt="Restricted to HarvardKey" aria-label="Restricted to HarvardKey" title="Restricted to HarvardKey"/>

<div  layout="column" layout-align="center center">

    <!-- <div>TEST
        <img height="450px" width="450px" ng-show="vm.showImage" src="https://nrs.harvard.edu/urn-3:RAD.SCHL:398065?buttons=Y"/>
        <img height="150px" width="150px" ng-show="vm.showImage" src="https://nrs.harvard.edu/urn-3:RAD.SCHL:398065?height=150&width=150"/>
    </div> -->

    <iframe id="iframe" ng-show="vm.showImage" name="{{vm.iframeAttributes.name}}" src="{{vm.iframeAttributes.src}}" height="{{vm.iframeAttributes.height}}" width="{{vm.iframeAttributes.width}}" title="{{vm.iframeAttributes.title}}" frameborder="{{vm.iframeAttributes.frameborder}}" marginwidth="{{vm.iframeAttributes.marginwidth}}" marginheight="{{vm.iframeAttributes.marginheight}}" scrolling="{{vm.iframeAttributes.scrolling}}" allowfullscreen="{{vm.iframeAttributes.allowfullscreen}}"></iframe>

<!--     <div ng-if="!vm.src">
        <div id="imgNotDig" class="nophoto" aria-label="{{vm.imgtitle}}" title="{{vm.imgtitle}}">Image not digitized</div>
    </div> -->
    
    <span ng-if="vm.localScope.loading"><img class="md-avatar" src="custom/HVD2/img/ajax-loader.gif"/></span>

</div>

<!-- show login for restrict image -->
<div layout="row" class="bar alert-bar layout-align-center-center layout-row" ng-if="!vm.showImage && vm.restricted">
    <span class="bar-text">Please sign in to see larger image.</span>
    <button ng-click="vm.signIn()" class="button-with-icon zero-margin md-button md-primoExplore-theme md-ink-ripple signInColor" type="button" aria-label="Sign in">
        <prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="sign-in">
            <md-icon md-svg-icon="primo-ui:sign-in" aria-label="icon-sign-in" class="md-primoExplore-theme"></md-icon>
        </prm-icon>
        <span class="signInColor">Sign in</span>
    </button>
</div>
<!-- end singleImage.html -->
